<section class="grid grid-cols-1 gap-4">
</section>

<section class="grid grid-cols-1 gap-4">
  <div class="">
    <h1 class='text-center'>Workspace id, <%= @workspace_id %></h1>
    <h1 class='text-center'>Workspace name, <%= @workspace_name %></h1>
  </div>
  <div>
    <div class="text-left">Logged User Profile</div>
    <div class="text-left border-solid border-2">
      <pre class='break-words'><%= JSON.pretty_generate(@access_token) %></pre>
      <pre class='break-words'><%= JSON.pretty_generate(@access_token_jwt) %></pre>
    </div>
  </div>
  <div class="block text-left py-5">
    <%= button_to 'Create Bank Account', new_bank_account_path, method: :get, class: "text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" unless session[:userinfo].present? %>
  </div>

  <h1 class='text-left py-8'>List of bank accounts</h1>
</section>
